h4 {
    color: #515151;
}

.chess_board {

}

.square {
	display:inline-block;   
    position:relative;
}

.square span {
    display:inline-block;
    position:absolute;
    top:50%;   
    left:5%;
     
    /* Оформление текста */
    color:#83C6F9;
    font-size:15px; 
    font-weight: bold;
}

.logo {
    margin-top: 10%;
    margin-bottom: 20%;
}